nav{
  background-color: bisque;

}

.first {
  display: flex;
}
.first>h3{
  margin-top: 14px;
}

nav ul :hover{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: 70%;
  margin-top: -3%;
 padding: right 30%;

display: flex;
color: rgb(253, 169, 81);
text-decoration: underline;
font-size: large;

}
nav li  {

}
  
.section1{
  display: flex;
 
}
.section1>P{
  padding: 7%;
}
footer {
  display: flex;
justify-content: space-evenly;
}